<!--<script type="text/javascript" src="http://fast.fonts.net/jsapi/5945b401-cf4d-425d-9bd1-d72be5050e4d.js"></script>-->
<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
<!--<div style="padding:0;background:transparent;position:fixed;left:30px;top:80px;z-index:99;cursor:default">-->
    <!--<div class="no">-->
        <!--<a href="/" class="act"><b>0</b></a><br/>-->
        <!--<a href="pre"><b>1</b></a><br/>-->
        <!--<a href="info"><b>2</b></a><br/>-->
        <!--<a href="three"><b>3</b></a><br/> -->
    <!--</div>-->
<!--</div>-->



<header>
    <nav>
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
            <a href="/" >JEONGIL RYU </a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="pre" >PROJECTS</a></li>
                <li><a href="info" >OTHER</a></li>
                <li><a href="three" >ABOUT</a></li>
                <li><a href="three" >CONTACT</a></li>
            </ul>
        </div>
    </nav>
</header>