<div style="padding:0;background:transparent;position:fixed;left:30px;top:80px;z-index:99;cursor:default">
    <div class="no">
        <a href="/" class="act">0</a><br/>
        <a href="pre">1</a><br/>
        <a href="info">2</a><br/>
    </div>
</div>