<!DOCTYPE html>
<html ng-app="scotchApp">
<head>
    <!-- SPELLS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Khand:wght@500&family=Six+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/5945b401-cf4d-425d-9bd1-d72be5050e4d.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" media="screen"/>

</head>
<body>
    <header>
        <nav class="nav_">
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                <a style="color:#ff0066; font-size: 18pt; font-family: 'Fugaz One', cursive;" href="/" >JEONGIL RYU </a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="projects" >PROJECTS</a></li>
                    <li><a href="other"  >OTHER</a></li>
                    <li><a href="about" >ABOUT</a></li>
                    <li><a href="contact" style="font:bold;
                        color: #ff0066;
                        font-size: 16px;
                        font-weight: 350;" >CONTACT</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="bg" >
        <div class="row">
            <div class="col-md-6">
                <img src="images/basic/ual.png" class="img-rounded center-block ">
            </div>
            <div class="col-md-6">
                <h2>Skills</h2>
                <ul style="list-style-type: none;">
                    <li>- Photoshop, Illustrator, InDesign - 3D Pattern, Flat Pattern</li>
                    <li>- Hand Sewing, Sewing Machine - Paint, Draw</li>
                    <li>- Handle Leather</li>
                </ul>
                <br>
                <h2>Hobby</h2>
                <ul style="list-style-type: none;">
                    <li>- Make Leather Bag - Paint and Draw</li>
                    <li>- Make Furniture</li>
                </ul>
                <br>
                <h2>Education</h2>
                <ul style="list-style-type: none;">
                    <li>2016-2017 Foundation Diploma in Fashion and Textile, Central Saint Martines, UAL</li>
                    <li>2018-2020 BA Womenswear of Fashion, Central Saint Martines, UAL</li>
                </ul>
                <br>
                <h2>Short Term Education</h2>
                <ul style="list-style-type: none;">
                    <li>2013-2014 Learn Sewing Skill and Illustration, Esmod</li>
                    <li>2017-2018 Learn Making Leather Bag, Studio 8 </li>
                    <li>2019-2020 Learn Flat Pattern and 3D Pattern,</li>
                </ul>
                <br>
                <h2>Additional Work Experience </h2>
                <ul style="list-style-type: none;">
                    <li>2019-2020 Educate Fashion Technic</li>
                </ul>
                
            </div>
          </div>
    </div>

</body>
</html>
