<!DOCTYPE html>
<html>
<head>
    <!-- SPELLS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Khand:wght@500&family=Six+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/jquery.cycle.all.min.js"></script>
    <link rel="shortcut icon" href="/images/background/favicon.ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" media="screen"/>
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel="stylesheet" href="stylesheets/ribbon-gallery.min.css">
    <!--<script src="/path/to/jquery.min.js"></script>-->
    <script src="javascripts/ribbon-gallery.min.js"></script>
    <meta property="og:image" content="images/2/1.png" />
<style>

</style>
</head>
<body>
<% include partials/menu %>

<div class="top-feature slider container" style="height: 600px">
    <div class="row align-middle" style="height: 100%" >
        <div class="col-md-4">
            <h1  class="align-middle" style="margin-top: 50%; font-size: 50px"><a style="color:#ff0066; font-size: 18pt; font-family: 'Fugaz One', cursive;" href="/">JEONGIL RYU</a></h1>
        </div>
        <div class="col-md-8">
            <div class="video-wrapper">
                <div class="screen intro" id="screen-1" data-video="media/market">
                    <!--<video id="video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">-->
                        <!--<source src="images/background/backimg.mp4">-->
                    <!--</video>-->
                    <video class="video-fluid z-depth-1" autoplay loop controls muted>
                        <source src="images/background/backimg.mp4" type="video/mp4" />
                    </video>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>