<!DOCTYPE html>
<html>
<head>
    <!-- SPELLS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/jquery.cycle.all.min.js"></script>
    <link rel="shortcut icon" href="/images/background/favicon.ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" media="screen"/>
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/dots.css" media="screen"/>-->
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/copywhite.css" media="screen"/>-->
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/scalerw.css" media="screen"/>-->
    <!-- endbuild -->
    <style>

        #video {
            position: absolute;
            top: 0px;
            left: 0px;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
            overflow: hidden;
        }

    </style>

</head>
<body>
<% include partials/menu %>

<div id="categories" class="top-feature slider container">
    <div class="row">
        <div class="col-md-4">
            <h1  class="ir" style="margin-top: 3%; font-size: 50px"><a style="color:#ff0066; font-size: 22pt; font-family: 'Six Caps', sans-serif;" href="/">JEONGIL RYU</a></h1>
        </div>
        <div class="col-md-8">
            <div class="video-wrapper">
                <div class="screen intro" id="screen-1" data-video="media/market">
                    <video id="video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
                        <source src="images/background/backimg.mp4">
                    </video>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>