<!DOCTYPE html>
<html ng-app="scotchApp">
<head>
    <!-- SPELLS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/jquery.cycle.all.min.js"></script>
    <!--<link rel="shortcut icon" href="/images/background/favicon.ico">-->
    <style type="text/css">
        .pics { height: 100%; width: 100%; margin: auto }
        .pics img { padding: 0; border: 0; background-color: #000; }
        #avaf { cursor: pointer }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#thek').cycle({
                fx:      'scrollLeft',
                next:   '#thek',
                timeout:  0
            });
        });
    </script>
    <link rel="stylesheet" type="text/css" href="stylesheets/dots.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/copywhite.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/scalerw.css" media="screen"/>
</head>
<body>
<% include partials/menu %>
<!-- define angular controller 0, 3, 6 -->
<% for(var i=0; i<portlist.length; i++) { %>
    <% if((i==0 ) | (i%3==0)){ %>
<div class="row">
<%}%>
    <div class="col-xs-6 col-md-4"><img width="100%" src="images/portlist/<%= portlist[i].image %>"></div>
    <% if((i==0 ) | (i%3==0)){ %>
</div>
    <%}%>
<% } %>

</body>
</html>