<!DOCTYPE html>
<html ng-app="scotchApp">
<head>
    <!-- SPELLS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/5945b401-cf4d-425d-9bd1-d72be5050e4d.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" media="screen"/>

</head>
<body>
<% include partials/menu_2 %>
<!-- define angular controller -->
<div id="bg" >
    <div id="thek" class="pics">
        <b ><i><i><img alt="" src="images/2/1.png" /></i></i></b>
        <b><i><i><img alt="" src="images/2/2.png" /></i></i></b>
        <b><i><i><img alt="" src="images/2/3.png" /></i></i></b>
        <b><i><i><img alt="" src="images/2/4.png" /></i></i></b>
        <b><i><i><img alt="" src="images/2/5.png" /></i></i></b>
        <b><i><i><img alt="" src="images/2/6.png" /></i></i></b>
        <b><i><i><img alt="" src="images/2/7.png" /></i></i></b> 
    </div>
</div>

</body>
</html>