<!DOCTYPE html>
<html ng-app="scotchApp">
<head>
    <!-- SPELLS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Khand:wght@500&family=Six+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/5945b401-cf4d-425d-9bd1-d72be5050e4d.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" media="screen"/>

</head>
<body>
    <header>
        <nav class="nav_">
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                <a style="color:#ff0066; font-size: 18pt; font-family: 'Fugaz One', cursive;" href="/" >JEONGIL RYU </a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="projects" >PROJECTS</a></li> 
                    <li><a href="other" style="font:bold;
                        color: #ff0066;
                        font-size: 16px;
                        font-weight: 350;" >OTHER</a></li>
                    <li><a href="about" >ABOUT</a></li>
                    <li><a href="contact" >CONTACT</a></li>
                </ul>
            </div>
        </nav>
    </header>
<div id="bg" > 
    
</div>

</body>
</html>