<!DOCTYPE html>
<html ng-app="scotchApp">
<head>
    <!-- SPELLS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Khand:wght@500&family=Six+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/base.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/news.css" />

    <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>-->

<script>
    $(document).ready(function() {
    $("#news-slider").owlCarousel({
        items:3,
        itemsDesktop:[1199,3],
        itemsDesktopSmall:[1000,2],
        itemsMobile:[650,1],
        pagination:false,
        navigationText:false,
        autoPlay:true
    });
});
</script>
<style>
    body{
        font-family: 'Inconsolata', monospace;
    }
</style>
</head>
<body>
    <header>
        <nav class="nav_">
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                <a style="color:#ff0066; font-size: 18pt; font-family: 'Fugaz One', cursive;" href="/" >JEONGIL RYU </a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="projects"  >PROJECTS</a></li> 
                    <li><a href="other" style="font:bold;
                        color: #ff0066;
                        font-size: 16px;
                        font-weight: 350; font-family: 'Inconsolata', monospace;">OTHER</a></li>
                    <li><a href="about" >ABOUT</a></li>
                    <li><a href="contact" >CONTACT</a></li> 
                </ul>
            </div>
        </nav>
    </header>
    <div id="main">
        <!-- <p style="position: absolute; top: 20%; left: 10%; color: #eee; font-size: 36px;"><b>News</b></p> -->
        <div class="row">
            <div class="col-md-1">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="other/1">DRAWING</a></li>
                    <!-- <li><a href="other/2">TEXTILE</a></li> -->
                  </ul>
            </div>
            <div class="col-md-11">
                <div class="container" style="margin-top: 10px;z-index: -1;"  >
                        <div class="row" style="z-index: -1;">
                        <div class="col-md-1"></div>
                    <div class="col-md-4">
                                <div id="news-slider" class="owl-carousel">
                                    <div class="post-slide">
                                        <div class="post-img">
                                            <img src="images/DRAWING/1.jpg" alt="">
                                            <div class="category" style="width: 50%;">DRAWING</div>
                                        </div>
                                        <div class="post-review">
                    <!--                         <h3 class="post-title" ><a href="other/1">DRAWING</a></h3>
                                            <p class="post-description">                
                    </p> -->
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                                    <div id="news-slider" class="owl-carousel">
                                        <div class="post-slide">
                                            <div class="post-img">
                                                <img src="images/TEXTILE/1.jpg" alt="">
                                                <div class="category" style="width: 50%;">TEXTILE</div>
                                            </div>
                                            <div class="post-review">
                        <!--                         <h3 class="post-title" style="width: 50%;"><a href="other/2">TEXTILE</a></h3>
                                                <p class="post-description"> 
                        </p> -->
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                        <div class="col-md-2"></div>
                        </div>
                    </div>

            </div>
        </div>
        
      
    </div>
  
</body>
</html>