<!DOCTYPE html>
<html ng-app="scotchApp">
<head>
    <!-- SPELLS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/5945b401-cf4d-425d-9bd1-d72be5050e4d.js"></script>
    <style type="text/css">

        .pics { height: 100%; width: 100%;}
        .pics img { width: 100%; height: auto;  overflow: hidden;
            padding-right: 7%; padding-left: 7%; background-color: #ffffff; } 
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#thek').cycle({
                fx:      'scrollLeft',
                next:   '#thek',
                timeout:  0
            });
        });
    </script>
    <link rel="stylesheet" type="text/css" href="http://www.comme-des-garcons.com/css/dots.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/copywhite.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/scalerw.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/scalerw.css" />
    <link rel="stylesheet" type="text/css" href="http://www.comme-des-garcons.com/dm/_legacy/css/dots.css" />
</head>
<body>
<% include partials/menu %>
<!-- define angular controller -->
<div id="bg" >
    <div id="thek" class="pics">
        <b ><i><i><img alt="" src="images/3/1.png" /></i></i></b>
        <b><i><i><img alt="" src="images/3/2.png" /></i></i></b>
        <b><i><i><img alt="" src="images/3/3.png" /></i></i></b>
        <b><i><i><img alt="" src="images/3/4.png" /></i></i></b>
        <b><i><i><img alt="" src="images/3/5.png" /></i></i></b>
        <b><i><i><img alt="" src="images/3/6.png" /></i></i></b>
        <b><i><i><img alt="" src="images/3/7.png" /></i></i></b> 
    </div>
</div>

<!--<script type="text/javascript" src="../_legacy/js/scaler.js"></script>-->
</body>
</html>